.hubble, .telescop {
    height: 1080px;
    width: 1890px;
}

.inapoi-galeria-2 {
    color: white;
}

.inapoi-galeria-2:link {
    color: white; 
}

.inapoi-galeria-2:active {
    color: lightgrey; 
}

.inapoi-galeria-2:visited {
    color: white; 
}

.inapoi-galeria-2:hover {
    color: lightgrey; 
}

.f1-2, .f2-2 {
    margin-bottom: 3%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
